name: Publish

on:
  push:
    branches:
      - main
    tags: ["**"]
  release:
    types: [published]

jobs:
  publish-artifacts:
    runs-on: ubuntu-22.04
    if: ${{ github.repository_owner == 'sbt' }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '8'
          cache: 'sbt'

      - name: Publish artifacts
        run: sbt ci-release
        env:
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
